<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta distinctio possimus corporis tempora eveniet corrupti provident saepe facilis laboriosam dignissimos?</p>
    </div>
</section>