<div class="jumbotron mt-4 ">
    <h1 class="display-4 ">Notes App - For Busy People</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum beatae aliquid at blanditiis, enim eaque.</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti necessitatibus est, placeat molestiae quasi sapiente laborum debitis eveniet delectus error.</p>
    <a href="https://www.faztweb.com" class="btn btn-primary" target="_blank">FaztWeb</a>
    
</div>